{% load static %}
<html>
<head>
  <title>A Leaflet map!</title>
  <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <style>
    #map{ height: 70% }
  </style>
</head>
<body>

  <div id="map"></div>

  <script>
  function openwindow(){
    var popupWindow = window.open("open_popup_window", "MsgWindow", "top=200, left=200, width=800, height=500");
  }

  // initialize the map
  var map = L.map('map').setView([55.7093305, 37.55216446], 3);


  L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
    maxZoom: 19,
    minZoom: 3,
  	attribution: "&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>"
  }).addTo(map);


  var LeafIcon = L.Icon.extend({
      options: {
          shadowUrl: "{% static 'leaflet/images/marker-shadow.png' %}",
          iconSize:     [38, 95],
          shadowSize:   [50, 64],
          iconAnchor:   [22, 94],
          shadowAnchor: [4, 62],
          popupAnchor:  [-3, -76]
      }
  });
  var greenIcon = new LeafIcon({iconUrl: "{% static 'leaflet/images/marker-icon.png' %}"})
  L.marker([55.7158, 37.5537], {icon: greenIcon}).addTo(map);
  </script>

    <script>

        {% for stadium in stadiums %}
      marker = L.marker([{{stadium.lat}}, {{stadium.long}}]).addTo(map);

    marker.bindPopup("<div>Name:</div><br>"+"{{stadium.name}}");

marker.bindPopup(function() {

    var div = document.createElement("div");
    $.get("/popup",{data:"{{stadium}}"}).done(function(data) {


        div.innerHTML = "Total Games Played: "+data + "<br><a href='#' onclick=openwindow();>click here!!</a>";
    });

    return div;
});

    {% endfor %}
  </script>
</body>
</html>
