<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Restaurant Details</title>
</head>
<body>
  <div class="container">
	<table>
		<thead>
			<tr>
				<th>NSN</th>
				<th>Number</th>
				<th>Region</th>
				<th>Log Time</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr class="details">
				<td id="nsn">Cell 1</td>
				<td id="fullName">Cell 2</td>
				<td id="area">Cell 3</td>
				<td id="time">Cell 4</td>
                <td id="link"><a href="http://www.google.com">click here!!</a></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>